.nextra-nav-container {
  nav {
    a {
      font-weight: 600;
    }
  }
}

.nextra-sidebar-container {
  ul li {
    font-weight: 600;
  }
}

.nextra-content {
  font-family: var(--font-family-body);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-ui);

    >code.nextra-code {
      white-space: nowrap;
    }
  }

  h1,
  h2,
  h3 {
    &+img {
      margin-top: 24px;
    }
  }

  blockquote {
    font-style: normal;
  }

  div[role="tabpanel"] {
    >.nextra-callout:nth-child(1) {
      margin-top: 0;
    }
  }

  div[role="tablist"] {
    >button[role="tab"] {
      font-family: var(--font-family-ui);
    }
  }

  table {

    thead tr th code,
    tbody tr td code {
      font-family: var(--font-family-mono);
      white-space: nowrap;
    }
  }

  code,
  kbd,
  samp,
  pre {
    font-family: var(--font-family-mono);
  }

  .nextra-code {
    .twoslash-highlighted {
      border: none;
      background-attachment: scroll;
      background-clip: border-box;
      background-color: #ffffff00;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA2IDMnIGVuYWJsZS1iYWNrZ3JvdW5kPSduZXcgMCAwIDYgMycgaGVpZ2h0PSc0LjUnIHdpZHRoPSc5Jz4KICAgIDxnIGZpbGw9JyNmOWMzNWEnPgogICAgICAgIDxwb2x5Z29uIHBvaW50cz0nNS41LDAgMi41LDMgMS4xLDMgNC4xLDAnIC8+CiAgICAgICAgPHBvbHlnb24gcG9pbnRzPSc0LDAgNiwyIDYsMC42IDUuNCwwJyAvPgogICAgICAgIDxwb2x5Z29uIHBvaW50cz0nMCwyIDEsMyAyLjQsMyAwLDAuNicgLz4KICAgIDwvZz4KPC9zdmc+");
      background-origin: padding-box;
      background-position-x: 0%;
      background-position-y: 100%;
      background-repeat: repeat-x;
      background-size: auto;
    }
  }
}
