.nextra-nav-container {
  nav {
    a {
      font-weight: 600;
    }
  }
}

.nextra-sidebar-container {
  ul li {
    font-weight: 600;
  }
}

.nextra-content {
  font-family: var(--font-family-body);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-ui);
  }

  h1,
  h2,
  h3 {
    &+img {
      margin-top: 24px;
    }
  }

  div[role="tabpanel"] {
    >.nextra-callout:nth-child(1) {
      margin-top: 0;
    }
  }

  div[role="tablist"] {
    >button[role="tab"] {
      font-family: var(--font-family-ui);
    }
  }

  table {
    tbody {
      tr td code {
        font-family: "IosevkaCurly", var(--font-family-mono);
        white-space: nowrap;
      }
    }
  }

  code,
  kbd,
  samp,
  pre {
    font-family: var(--font-family-mono);
  }

  .nextra-code {
    .twoslash-highlighted {
      background: none;
      border: none;
      text-decoration: underline wavy #f6c99b;
      text-decoration-skip-ink: none;

      .twoslash-hover {
        border: none;
      }
    }
  }
}

html.light {
  article {
    a {
      filter: brightness(0.75);
    }
  }
}
