h1,
h2,
h3 {
  &+img {
    margin-top: 24px;
  }
}

.nextra-code-block {
  font-size: 18px;

  div:nth-child(1) {
    font-family: var(--font-family-ui);
    font-size: 14px;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: var(--font-family-mono);
  }
}

.nextra-nav-container {
  nav {
    a {
      font-weight: 600;
    }
  }
}

.nextra-sidebar-container {
  ul li {
    font-weight: 600;
    font-family: var(--font-family-ui);
  }
}
