.nextra-code-block {
  font-size: 18px;

  div:nth-child(1) {
    font-family: var(--font-family-ui);
    font-size: 14px;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: var(--font-family-mono);
  }
}

.nextra-nav-container {
  font-family: var(--font-family-ui);

  nav {
    a {
      font-weight: 600;
    }
  }
}

.nextra-sidebar-container {
  ul li {
    font-family: var(--font-family-ui-mono);
    font-weight: 600;
  }
}

.nextra-content {
  div[role="tabpanel"] {
    >.nextra-callout:nth-child(1) {
      margin-top: 0;
    }
  }

  div[role="tablist"] {
    >button[role="tab"] {
      font-family: var(--font-family-ui);
    }
  }
}
