#nd-docs-layout #nd-sidebar a {
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
}

#nd-docs-layout #nd-sidebar a[data-active] {
  font-weight: 400;
}

.prose {
  font-family: var(--font-family-body);
}

.prose table thead tr th code,
.prose table tbody tr td code {
  font-family: var(--font-family-mono);
  white-space: nowrap;
}

.prose code,
.prose kbd,
.prose samp,
.prose pre {
  font-family: var(--font-family-mono);
}

.prose .fd-codeblock code {
  font-family: var(--font-family-mono);
  font-size: 14px;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding: .125rem .25em;
  font-size: .9em;
}

.prose :where(table):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: 1em;
}
