{
    "printWidth": 80,
    "endOfLine": "lf",
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "arrowParens": "always",
    "plugins": [
        "prettier-plugin-curly",
        "prettier-plugin-packagejson",
        "prettier-plugin-organize-attributes"
    ],
    "attributeGroups": ["^(id|type|name)$", "^class$", "$DEFAULT", "^aria-"],
    "attributeSort": "ASC",
    "overrides": [
        {
            "files": ["*.json", ".eslintrc", ".prettierrc"],
            "options": {
                "trailingComma": "none"
            }
        },
        {
            "files": ["*.md"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
