@font-face {
  font-family: 'MonaspaceNeonVF';
  src:
    url("./MonaspaceNeonVarVF.woff2") format("woff2 supports variations"),
    url("./MonaspaceNeonVarVF.woff2") format("woff2-variations");
  font-weight: 100 1000;
}
