[aria-roledescription="flowchart-v2"] span.nodeLabel {
  filter: brightness(0.5);
}

#nd-home-layout {
  position: relative;
}

#nd-page .bsky-post [class*="embed-module_external"] {
  display: none;
}
