[aria-roledescription="flowchart-v2"] span.nodeLabel {
	filter: brightness(0.5);
}

.bsky-post [class*="embed-module_external"] {
	display: none;
}

.bsky-post [class*="post-content-module_content"] {
  font-size: 1em;
  line-height: inherit;
}
