:root {
  --font-family-body:
    "Iosevka Aile",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Noto Sans",
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

  --font-family-ui:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Noto Sans",
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

  --font-family-mono: "Ioskeley Mono", ui-monospace, Menlo, Monaco, Consolas, monospace;
}

body {
  font-family: var(--font-family-body);
}

button {
  cursor: pointer;
}

/* Focus */
:focus-visible {
  outline: none;
}

:focus-visible:not([class*="outline-none"]) {
  outline: 2px solid var(--color-fd-primary);
  outline-offset: -2px;
}

[role="tabpanel"]:focus-visible {
  outline: none;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-family-mono);
}

/* Prose content (docs, articles) */
.prose {
  font-family: var(--font-family-body);
  --tw-prose-links: var(--color-fd-primary);

  .shiki {
    box-shadow: none;
    background-color: color-mix(
      in oklab,
      var(--color-fd-secondary) 25%,
      transparent
    );
  }

  .shiki,
  [data-radix-scroll-area-viewport],
  [data-radix-scroll-area-viewport] > div {
    outline: none;
  }

  :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    border: none;
    padding: 0.125rem 0.25em;
    font-size: 14px;
    background-color: color-mix(in oklab, var(--color-fd-ring) 10%, transparent);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    code {
      padding: 0.125rem 0.25em;
      font-size: 0.875em;
    }
  }

  table {
    font-size: 1em;

    thead tr th code,
    tbody tr td code {
      white-space: nowrap;
    }
  }

  blockquote {
    font-style: normal;
  }
}

.prose > p > code {
  white-space: nowrap;
}

#nd-home-layout {
  position: relative;
}

#nd-sidebar {
  a[data-active] {
    font-weight: 400;
  }

  div[data-state],
  a[data-active] {
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 6px;
  }
}

/* Bluesky embed */
.bsky-post {
  [class*="embed-module_external"] {
    display: none;
  }

  [class*="post-content-module_content"] {
    font-size: 1em;
    line-height: inherit;
  }
}

/* Mermaid flowchart */
[aria-roledescription="flowchart-v2"] span.nodeLabel {
  filter: brightness(0.5);
}

.dark {
  .shadow-2xs,
  .shadow-xs,
  .shadow-sm,
  .shadow-md,
  .shadow-lg,
  .shadow-xl,
  .shadow-2xl {
    box-shadow: 0 0 #0000;
  }
}
