@import "tailwindcss";
@import "tailwindcss-animated";
@import "./theme/theme.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-twoslash/twoslash.css";

@source "../node_modules/fumadocs-ui/dist";

@source ".";
@source "../components";
@source "../content";
@source './components/**/*.{js,ts,jsx,tsx,mdx}';