@theme {
    --color-fd-accent-foreground: hsl(240, 6%, 25%);
    --color-fd-accent: hsl(0, 0%, 94.1%);
    --color-fd-background: hsl(0, 0%, 100%);
    --color-fd-border: hsl(0, 0%, 89.8%);
    --color-fd-card-foreground: hsl(0, 0%, 3.9%);
    --color-fd-card: hsl(0, 0%, 100%);
    --color-fd-foreground: hsl(240, 6%, 25%);
    --color-fd-muted-foreground: hsl(240, 6%, 50%);
    --color-fd-muted: hsl(0, 0%, 96%);
    --color-fd-popover-foreground: hsl(0, 0%, 15.1%);
    --color-fd-popover: hsl(0, 0%, 100%);
    --color-fd-primary-foreground: hsl(0, 0%, 98%);
    --color-fd-primary: hsl(210, 100%, 44%);
    --color-fd-ring: hsl(0, 0%, 63.9%);
    --color-fd-secondary-foreground: hsl(0, 0%, 9%);
    --color-fd-secondary: hsl(240, 6%, 97%);
}

.dark {
    --color-fd-accent-foreground: hsl(0, 0%, 90%);
    --color-fd-accent: hsl(0, 0%, 16.9%);
    --color-fd-background: hsl(0, 0%, 7.04%);
    --color-fd-border: hsl(0, 0%, 14%);
    --color-fd-card-foreground: hsl(0, 0%, 98%);
    --color-fd-card: hsl(0, 0%, 9.8%);
    --color-fd-foreground: hsl(0, 0%, 92%);
    --color-fd-muted-foreground: hsl(0, 0%, 60.9%);
    --color-fd-muted: hsl(0, 0%, 15%);
    --color-fd-popover-foreground: hsl(0, 0%, 88%);
    --color-fd-popover: hsl(0, 0%, 9.8%);
    --color-fd-primary-foreground: hsl(0, 0%, 9%);
    --color-fd-primary: hsl(209, 100%, 58%);
    --color-fd-ring: hsl(0, 0%, 54.9%);
    --color-fd-secondary-foreground: hsl(0, 0%, 98%);
    --color-fd-secondary: hsl(0, 0%, 12.9%);
}

.prose {
    --tw-prose-links: var(--color-fd-primary);
}

.prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    border: none;
}

.dark #nd-sidebar {
    --color-fd-muted: hsl(0, 0%, 16%);
    --color-fd-secondary: hsl(0, 0%, 18%);
    --color-fd-muted-foreground: hsl(0, 0%, 72%);
}
