name: Publish
on:
  push:
    branches:
      - main
      - "2.0.0"
    tags-ignore:
      - "**"
    paths-ignore:
      - "**/*.gitignore"
      - .editorconfig
      - apps/**
      - examples/**
      - decisions/**
  pull_request: null
jobs:
  publish:
    name: Publish
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup node@23
        uses: actions/setup-node@v4
        with:
          node-version: 23
          registry-url: "https://registry.npmjs.org"
      - name: Enable Corepack
        run: corepack enable
      - name: Install dependencies
        run: pnpm install
      - name: Build front-end assets
        run: pnpm run build
      - name: Run lint
        run: pnpm run lint
      - name: Publish
        run: |
          if git log -1 --pretty=%B | grep "^release: [0-9]\+\.[0-9]\+\.[0-9]\+$";
          then
            pnpm --filter "./packages/**" publish --provenance --access public
          elif git log -1 --pretty=%B | grep "^release: [0-9]\+\.[0-9]\+\.[0-9]\+-beta\.[0-9]\+$";
          then
            pnpm --filter "./packages/**" publish --provenance --access public --tag beta --no-git-checks
          elif git log -1 --pretty=%B | grep "^release: [0-9]\+\.[0-9]\+\.[0-9]\+-next\.[0-9]\+$";
          then
            pnpm --filter "./packages/**" publish --provenance --access public --tag next --no-git-checks
          else
            echo "Not a release, skipping publish"
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
